* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f8ff;
  font-family: "Inter", sans-serif;
}

header {
  margin: auto;
  margin-top: 20px;
}

.banner-section {
  margin: 120px auto;
}

/* plant section  */
.plant-section {
  display: flex;
  margin: 0px auto 200px auto;
  width: 80%;
  flex-direction: column;
  gap: 49px;
}

.plant-title {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.plant-title h1 {
  color: #e95a08;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
}

.plant-title p {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}

.plant-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.5s;
}

.plant-card:hover {
  transform: scale(1.1);
}

.plant-card img {
  border-radius: 10px;
  width: 100%;
}

.btn {
  display: flex;
  border-radius: 10px;
  height: 50px;
  padding: 26px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: #e95a08;
  color: aliceblue;
  cursor: pointer;
  font-size: 10px
}

.btn:hover {
  background: #f78b4c;
}

.plant-card>div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.plant-card>div h3 {
  font-size: 17px;
  color: #111;
}

.plant-card>div p {
  font-size: 19px;
  font-weight: 700;
}

.plant-grid-box {
  display: grid;
  column-gap: 20px;
  row-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}


/* Desktops (≥768px) */
@media (min-width: 768px) {
  .plant-grid-box {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .plant-grid-box {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* plant lover section  */

.plant-lover {
  margin: 0px auto 133px auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  /* Default: mobile layout */
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.flower-store {
  width: 100%;
  /* max-width: 450px; */
  position: relative;
  aspect-ratio: 1 / 1;
  background-image: url(./assets/flower-store.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}

.flower-store img {
  display: none;
}

@media (min-width: 768px) {
  .plant-lover {
    flex-direction: row;
    /* Desktop layout: side-by-side */
    gap: 60px;
    justify-content: space-between;
    align-items: center;
  }

  .plant-lover-text h2 {
    font-size: 48px;
  }

  .flower-store img {
    display: block;
    position: absolute;
    top: -20%;
    left: 75%;
    width: 200px;
    z-index: 2;
    background: none;
  }

  .flower-store {
    width: 100%;
    max-width: 450px;
    position: relative;
    aspect-ratio: 1 / 1;
    background-image: url(./assets/flower-store.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .plant-lover {
    flex-direction: column;
    /* Desktop layout: side-by-side */
    gap: 60px;
    justify-content: space-between;
    align-items: center;
  }

  .plant-lover-text h2 {
    font-size: 48px;
  }

  .flower-store img {
    /* display: block; */
    position: absolute;
    top: -20%;
    left: 75%;
    width: 200px;
    z-index: 2;
    background: none;
  }

  .flower-store {
    width: 100%;
    /* max-width: 450px; */
    position: relative;
    aspect-ratio: 1 / 1;
    background-image: url(./assets/flower-store.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
  }
}


.latest-deals {
  margin: 0 auto 120px auto;

}

.mg-bottom {
  margin-bottom: 100px;
}

.latest-deals {
  margin: 0 auto 120px auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.bloom-plant,
.ana-plant,
.zaba-plant {
  position: relative;
  display: inline-block;
  width: 100%;
}

.bloom-plant img,
.ana-plant img {
  width: 100%;
  height: 210px;
  filter: brightness(70%);
  border-radius: 15px;
}

.zaba-plant img {
  width: 100%;
  height: auto;
  filter: brightness(70%);
  border-radius: 15px;
}

.bloom,
.ana,
.zabo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: none;
  z-index: 2;



}


.zabo p {
  background: none;
  text-align: center;
  font-size: 35px;
  color: #f5f8ff;
  font-weight: 700;


}

.zabo a {
  background: none;
  text-align: center;
  font-size: 25px;
  color: #f5f8ff;
  font-weight: 700;
  text-decoration: underline;
}

.zabo a:hover,
.bloom a:hover,
.ana a:hover {
  color: bisque;
}

.bloom p,
.ana p {
  background: none;
  text-align: center;
  font-size: 15px;
  color: #f5f8ff;
  font-weight: 700;
}

.bloom a,
.ana a {
  background: none;
  text-align: center;
  font-size: 15px;
  color: #f5f8ff;
  font-weight: 700;
  text-decoration: underline;
}

@media screen and (max-width:768px) {
  .deal-grid {
    flex-direction: column;

  }

  .bloom-plant img,
  .ana-plant img,
  .zaba-plant img {
    height: auto;
  }

  .mg-bottom {
    margin-bottom: 40px;
  }

}



.subscribe-bg {
  width: 100%;
  height: 533px;
  background-image: url(./assets/news-letter-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
  aspect-ratio: 1920px/ 533px;
  text-align: center;
  position: relative;
}
form input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 50%;
  background: #f1f1f1;
}


form button {
  
  width: 15%;
  padding: 10px;
  background: #da7d0b;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form button:hover {
  background: #da500b;
}
.search{
  width: 100%;
  background: none;
  position: absolute;
   top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: none;
  z-index: 2;
  display: flex;
  gap: 23px;
  flex-direction: column;

}
.search h1,form{
  background: none;
}

/* footer  */

footer{
  padding: 50px 160px;
  color: #6B7280;
}
footer a:hover{
  text-decoration: underline;
}
@media screen and (max-width:768px) {
  footer{
    flex-direction: column;
    padding: 50px 20px;
    gap: 30px;
  }
  footer p{
    width: 100%;
  }
  .media-section {
    width: 100%;
  }
  
}




