* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f8ff;
  font-family: "Inter", sans-serif;
}
header {
  margin: auto;
  margin-top: 20px;
}
.banner-section {
  margin: 120px auto;
}
/* plant section  */
.plant-section {
  display: flex;
  margin: 0px auto 200px auto;
  width: 80%;
  flex-direction: column;
  gap: 49px;
}
.plant-title {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.plant-title h1 {
  color: #e95a08;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
}
.plant-title p {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}
.plant-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.5s ;
}
.plant-card:hover{
  transform: scale(1.1);
}
.plant-card img {
  width: 100%;
}
.btn {
  display: flex;
  height: 50px;
  padding: 26px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: #e95a08;
  color: aliceblue;
  cursor: pointer;
}
.btn:hover {
  background: #f78b4c;
}
.plant-card > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.plant-card > div h3 {
  font-size: 17px;
  color: #111;
}

.plant-card > div p {
  font-size: 19px;
  font-weight: 700;
}
.plant-grid-box{
    display: grid;
    column-gap: 20px;
    row-gap: 30px;
    grid-template-columns: repeat(1,1fr);
}


/* Desktops (≥768px) */
@media (min-width: 768px) {
  .plant-grid-box {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1024px) {
  .plant-grid-box {
    grid-template-columns: repeat(4, 1fr);
  }
}